
/* background color of navbar */
.navbar {
  background-color: #6C737E;
}
.logo{
   width: 50px;
  height: 50px;
  margin-left:20px ;
  
}
.logo-text{
 color: white;
 font-size: 18px;
 font-family: 'Lora';
 font-weight: 400;
 font-size: 25px;
}

/* To make nav buttons in the middle */
.nav-ul {
  margin-left:25%;
}

/* nav buttons style */
.nav-btn {
  border-radius: 10px;
  background-color: #B5CFD8;
  /* border: #ff7a00; */
  box-shadow: 5px 2px 1.5px rgba(151, 150, 150, 0.678);
}
.reports-btn{width: 110px;}

/* nav buttons hover */
.nav-btn:hover {
  text-shadow: 0 -1px 0 #354C8C;
}

.fa-user-circle {
  color: black;
  font-size: 40px;
}


/* drop down list of user account */
.dropdown {
  margin-left: 90%;
}

/* end of navbar style */

/* container with cotain the all of reports */
.container {
  background-color:rgba(163, 142, 142, 0.589);
  width: 58%;
  height: 100vh;
  padding-top: 30px;

}

/* account setting style */

.icons {
  border: none;
  height: 30px;
  margin-bottom: 40px;
  background-color: transparent;
}


.fa-edit{color: blue;}
.fa-trash-alt{color: red;}
.row {
  margin-left: 10px;
  margin-bottom: 20px;

}

.report-name {
  margin-right: 10px;
  font-size: 20px;
  color: blue;
}


/* responsive */
@media(max-width:850px){
  .container{
    width: 100%;
    height: 100vh;
  }
  .nav-ul {
    margin: 0px;
    padding: 0px
  }

  .logo{
    width: 60px;
   height: 50px;
   margin-left: 0px;  
 }
 .logo-text{
  color: white;
  font-size: 22px;
  font-family: 'Lora';
  font-weight: 400;
  display: none;
 }
 

  .fa-user-circle {
    font-size: 40px;

  }

  .dropdown {
    margin-left: 0px;
  }

  .fa-question-circle {
    font-size: 50px;
    position: relative;
    left: 240px;
  }

  .report-name{
    font-size: 16px;
    margin-top: 14px;
  }
  .icons{
    margin-top: 12px;
  }
  .img{
    width: 25%;
  }
}

  /* feedback */
.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 200vh;
  background-color: black;
  opacity: .80;
}
.white_content {
  display: none;
  position: absolute;
  top: 1%;
  left: 35%;
  width: 30%;
  height: 97%;
  padding: 16px;
  border: 3px solid orange;
  background-color: #60888B;
  z-index: 1002;
}
.exit{
  position: absolute;
  right: 0px;
  top: 0px;
  color: orange;
}
.feedback {
background-color: #60888B;
margin-top: 40px;
height: 100vh;}

.page-title{
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
}

.label{
  margin-left: 50px;
  margin-top: 20px;
  
}
.inputs{
  margin-left: 45px;
  border-radius: 20px;
}
.comment-input{
  height: 120px;
  border-radius: 10PX;
}

.btn-primary{
  text-align: center;
  border-radius: 10px;
  background-color: #ff7a00;
  border: #ff7a00;
  box-shadow: 5px 2px 1.5px rgba(151, 150, 150, 0.678);
  margin-left: 40%;
  margin-top:30px
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.bod {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 100%;
  background: #F1F1F1;
}

 .htm {
  --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
  --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --primary: #581B98;
}


.chatbox {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 300px;
  height: 350px;
  z-index: -123456;
  /* opacity: 0; */
  display: none;
  transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
  transform: translateY(-40px);
  z-index: 123456;
  opacity: 1;

}

/* BUTTON */
.chatbox__button {
  text-align: right;
}

.send__button {
  padding: 6px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


/* HEADER */
.chatbox__header {
  position: sticky;
  top: 0;
  background: orange;
}

/* MESSAGES */
.chatbox__messages {
  margin-top: auto;
  display: flex;
  overflow-y: scroll;
  flex-direction:column
}

.messages__item {
  background: orange;
  max-width: 60.6%;
  width: fit-content;
}

.messages__item--operator {
  margin-left: auto;
}

.messages__item--visitor {
  margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
  position: sticky;
  bottom: 0;
}

.chatbox__support {
  background: #f9f9f9;
  height: 450px;
  width: 350px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
  background: var(--primaryGradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
  margin-right: 10px;
}

.chatbox__heading--header {
  font-size: 1.2rem;
  color: white;
}

.chatbox__description--header {
  font-size: .9rem;
  color: white;
}

/* Messages */
.chatbox__messages {
  padding: 0 20px;
}

.messages__item {
  margin-top: 10px;
  background: #E0E0E0;
  padding: 8px 12px;
  max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.messages__item--operator {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: var(--primary);
  color: white;
}

/* FOOTER */
.chatbox__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background: var(--secondaryGradient);
  box-shadow: var(--secondaryBoxShadow);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 20px;
}

.chatbox__footer input {
  width: 80%;
  border: none;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: left;
}

.chatbox__send--footer {
  color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
